<div class="parent" ng-if="ready">
  <div class="preloader-wrapper big active" >
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>[[mensaje]]</h4>
    </div>
  <div class="modal-footer">
    <a href="#!/home" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<div class="row" ng-show="!ready" ng-if="instrumento">
  <div class="col s12">
    <div class="breadcrumb">
      <a class="breadcrumb__step" href="/#!/home">Inicio</a>
      <a class="breadcrumb__step breadcrumb__step--active" href="#!/encuesta/[[intrumentoParams]]/[[asignacionParams]]">Encuesta</a>
    </div>
  </div>
  <form class="col s12" name="form" ng-submit="validacionForm() && enviar()" novalidate>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <h4 class="center">[[instrumento.nombre]]</h4>
            <p>[[instrumento.descripcion]]</p>
          </div>
        </div>
        <div class="row" ng-repeat="(p, pregunta) in instrumento.preguntasList.object_list | orderBy: 'numero'">
          <div class="col s12">
            <p>[[$index+1]]. [[pregunta.enunciado]]</p>
            <br>
            <input type="hidden" name="master-[[pregunta.id]]" ng-model="respuestas[p].pregunta" ng-init="respuestas[p].pregunta = pregunta.id">
            <p ng-repeat="opcion in pregunta.opciones.object_list" ng-if="!pregunta.multiple">
                <input class="with-gap" type="radio" name="radio-[[pregunta.id]]" ng-value="[[opcion]]" ng-model="respuestas[p].opciones" id="radio-[[opcion.id]]-[[pregunta.id]]">
                <label for="radio-[[opcion.id]]-[[pregunta.id]]">[[opcion.texto]]</label>
            </p>
            <p ng-repeat="opcion in pregunta.opciones.object_list" ng-if="pregunta.multiple">
                <input class="validate" type="checkbox" name="check-[[opcion.id]]" ng-init="respuestas[p].opciones = []" ng-model="respuestas[p].opciones[$index]" ng-true-value="[[opcion]]" class="filled-in" id="check-[[opcion.id]]-[[pregunta.id]]">
                <label for="check-[[opcion.id]]-[[pregunta.id]]">[[opcion.texto]]</label>
            </p>
            <br>
            <div ng-hide="valid[p]" ng-init="valid[p] = true">
              <div>Debe elegir al menos una opción.</div>
            </div>
            <div class="row" ng-if="pregunta.otro">
              <div class="input-field col s12">
                <input type="text" name="otro-[[pregunta.id]]" ng-model="respuestas[p].otro" id="otro-[[pregunta.id]]">
                <label for="otro-[[pregunta.id]]">Otra</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light yellow darken-3" type="submit" name="action">enviar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
