{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{% static "frontend/css/style.css" %}"/>
  <title>Sie</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %} {% endblock %}
</head>

<body>
  <!--Import jQuery before materialize.js-->
  <header>
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper yellow darken-2">
        <a href="#!" class="brand-logo ">
          <img  src="/media/logo.png" alt="">
        </a>
      </div>
    </nav>
  </div>
  </header>
  <main>
    <div class="container">
      <div class="row parent">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-content">
              <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="waves-effect waves-light btn black" type="submit">Iniciar sesión</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="yellow-text darken-2">Herramienta informática para apoyar los medios de participación del egresado del programa de Ingeniería de Sistemas de la Universidad de Cartagena.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a target="_blank"  href="https://www.unicartagena.edu.co/egresado"><i class="material-icons white-text">school</i> <span class="yellow-text darken-2">Egresados</span></a></li>
            <li><a target="_blank"  href="https://www.facebook.com/groups/ceisunicartagena/"><img src="/media/facebook-24.png" alt=""> <span class="yellow-text darken-2">Fanpage</span></a></li>
            <li><a target="_blank" href="mailto:pringsistemas@unicartagena.edu.co"><i class="material-icons white-text">email</i> <span class="yellow-text darken-2" >Correo</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          Copyright © 2017 Universidad de Cartagena. Todos los derechos reservados. Conoce nuestras Políticas, Términos y Condiciones.
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="{% static "frontend/js/jquery-2.1.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
  {% block script %} {% endblock %}
</body>

</html>
