{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{% static "frontend/css/style.css" %}"/>
  <title>Sie</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %} {% endblock %}
</head>

<body>
  <!--Import jQuery before materialize.js-->
  <header>
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper  light-blue darken-4">
        <a href="#!" class="brand-logo center">Sie</a>
        </ul>
      </div>
    </nav>
  </div>
  </header>
  <main>
    <div class="container">
    <div class="row parent">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <button class="waves-effect waves-light btn" type="submit">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <script type="text/javascript" src="{% static "frontend/js/jquery-2.1.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
  {% block script %} {% endblock %}
</body>

</html>
