{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Sie</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{% static "frontend/css/style.css" %}"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %} {% endblock %}
</head>

<body ng-app="myApp">
  <!--Import jQuery before materialize.js-->
  <header>
    <div class="navbar-fixed">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/#!/perfil">Actualizar datos</a></li>
        <li><a href="/usuarios/password/">Cambiar contraseña</a></li>
        <li><a href="{% url "logOut" %}">Cerrar Sesión</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper  yellow darken-2">
          <a href="#!" class="brand-logo">
            <img  src="/media/logo.png" alt="">
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated and user.is_superuser %}
            <li><a href="/dashboard/">Administración</a></li>
            {% endif %}
            <li><a href="/">Encuestas</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Perfil<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <ul class="side-nav collapsible" id="mobile-demo">
            {% if user.is_authenticated and user.is_superuser %}
            <li><a href="/dashboard/">Administración</a></li>
            {% endif %}
            <li><a href="/">Encuestas</a></li>
            <li>
                <a class="collapsible-header waves-effect" href="#">Perfil</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="/#!/perfil">Actualizar datos</a></li>
                    <li><a href="/usuarios/password/">Cambiar contraseña</a></li>
                    <li><a href="{% url "logOut" %}">Cerrar Sesión</a></li>
                  </ul>
                </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container separador">
      {% block body %} {% endblock %}
    </div>
  </main>
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="yellow-text darken-2">Herramienta informática para apoyar los medios de participación del egresado del programa de Ingeniería de Sistemas de la Universidad de Cartagena.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a target="_blank"  href="https://www.unicartagena.edu.co/egresado"><i class="material-icons white-text">school</i> <span class="yellow-text darken-2">Egresados</span></a></li>
          <li><a target="_blank"  href="https://www.facebook.com/groups/ceisunicartagena/"><img src="/media/facebook-24.png" alt=""> <span class="yellow-text darken-2">Fanpage</span></a></li>
          <li><a target="_blank" href="mailto:pringsistemas@unicartagena.edu.co"><i class="material-icons white-text">email</i> <span class="yellow-text darken-2" >Correo</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        Copyright © 2017 Universidad de Cartagena. Todos los derechos reservados. Conoce nuestras Políticas, Términos y Condiciones.
    </div>
  </div>
</footer>
  <script type="text/javascript" src="{% static "frontend/js/jquery-2.1.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bower_components/angular/angular.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bower_components/angular/angular-messages.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bower_components/angular/angular-route.min.js" %}"></script>
  <script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
  <script type="text/javascript" src="{% static "frontend/js/index.js" %}"></script>
  <script type="text/javascript" src="{% static "frontend/js/app.js" %}"></script>

  {% block script %} {% endblock %}
</body>

</html>
